* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "DS-Digital", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: none;
}

#root {
  margin: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

h2 {
  font-size: 48px;
}

.stock {
  display: flex;
  align-items: center;
  position: absolute;
  animation: scroll 10s infinite linear;
}

@keyframes scroll {
  from {
    left: 70%;
  }
  to {
    left: 0;
  }
}

.up {
  color: green;
}

.down {
  color: red;
}
